language: python

os:
  - linux

env:
  matrix:
    # Supported environments:
    - TOX_ENV=pypy
    - TOX_ENV=py26
    - TOX_ENV=py27
    - TOX_ENV=py32
    - TOX_ENV=py33

    # Also run the tests against cryptography master.
    - TOX_ENV=pypy-cryptographymaster
    - TOX_ENV=py26-cryptographymaster
    - TOX_ENV=py27-cryptographymaster
    - TOX_ENV=py32-cryptographymaster
    - TOX_ENV=py33-cryptographymaster

    # Also run at least a little bit against an older version of OpenSSL.
    - TOX_ENV=py27 OPENSSL=0.9.8

matrix:
  allow_failures:
    # Let the cryptography master builds fail, because they might be
    # triggered by cryptography changes beyond our control.
    - env: TOX_ENV=pypy-cryptographymaster
    - env: TOX_ENV=py26-cryptographymaster
    - env: TOX_ENV=py27-cryptographymaster
    - env: TOX_ENV=py32-cryptographymaster
    - env: TOX_ENV=py33-cryptographymaster

    - env: OPENSSL=0.9.8

install:
  # In some builds, install an old version of OpenSSL.
  - |
    if [[ "${OPENSSL}" == "0.9.8" ]]; then
      sudo add-apt-repository "deb http://archive.ubuntu.com/ubuntu/ lucid main"
      sudo apt-get -y update
      sudo apt-get install -y --force-yes libssl-dev/lucid
    fi

  # Tox actually builds our individual testing virtualenvs.
  - pip install tox

  - pip install coveralls

script:
  - tox -e $TOX_ENV

after_success:
  - coveralls

notifications:
  email: false
