sudo: false
language: python

matrix:
  include:
  - language: generic
    os: osx
    env: TOXENV=py27
  - python: "2.6" # these are just to make travis's UI a bit prettier
    env: TOXENV=py26
  - python: "2.7"
    env: TOXENV=py27
  - python: "3.2"
    env: TOXENV=py32
  - python: "3.3"
    env: TOXENV=py33
  - python: "3.4"
    env: TOXENV=py34
  - python: "pypy"
    env: TOXENV=pypy

  # Also run the tests against cryptography master.
  - python: "2.6"
    env: TOXENV=py26-cryptographyMaster
  - python: "2.7"
    env: TOXENV=py27-cryptographyMaster
  - python: "3.2"
    env: TOXENV=py32-cryptographyMaster
  - python: "3.3"
    env: TOXENV=py33-cryptographyMaster
  - python: "3.4"
    env: TOXENV=py34-cryptographyMaster
  - python: "pypy"
    env: TOXENV=pypy-cryptographyMaster

  # Also run at least a little bit against an older version of OpenSSL.
  - python: "2.7"
    env:
      OPENSSL=0.9.8 TOXENV=py27
    addons:
      apt:
        sources:
          - lucid
        packages:
          - libssl-dev/lucid

  # Let the cryptography master builds fail because they might be triggered by
  # cryptography changes beyond our control.
  # Also allow OS X and 0.9.8 to fail at the moment while we fix these new
  # build configurations.
  allow_failures:
  - language: generic
    os: osx
    env: TOXENV=py27
  - env: TOXENV=py26-cryptographyMaster
  - env: TOXENV=py27-cryptographyMaster
  - env: TOXENV=py32-cryptographyMaster
  - env: TOXENV=py33-cryptographyMaster
  - env: TOXENV=py34-cryptographyMaster
  - env: TOXENV=pypy-cryptographyMaster
  - env: OPENSSL=0.9.8 TOXENV=py27

install:
  - |
    if [[ "$(uname -s)" == 'Darwin' ]]; then
      brew update
      brew upgrade openssl
      curl -O https://bootstrap.pypa.io/get-pip.py
      python get-pip.py --user
      pip install --user virtualenv
    else
      pip install virtualenv
    fi
    python -m virtualenv ~/.venv
    ~/.venv/bin/pip install coveralls tox

script:
  - |
    if [[ "$(uname -s)" == "Darwin" ]]; then
      # set our flags to use homebrew openssl
      export ARCHFLAGS="-arch x86_64"
      export LDFLAGS="-L/usr/local/opt/openssl/lib"
      export CFLAGS="-I/usr/local/opt/openssl/include"
    fi
    ~/.venv/bin/tox

after_script:
  - ~/.venv/bin/coveralls

notifications:
  email: false
