os: linux
dist: xenial
language: python

cache:
  directories:
    - $HOME/.cache/pip

env:
  global:
    - LC_ALL=en_US.UTF-8

jobs:
  include:
  - language: generic
    os: osx
    osx_image: xcode11.3
    env: TOXENV=py27
  - python: "2.7"
    env: TOXENV=py27
  - python: "3.5"
    env: TOXENV=py35
  - python: "3.6"
    env: TOXENV=py36
  - python: "3.7"
    env: TOXENV=py37
  - python: "3.8"
    env: TOXENV=py38
  - python: "pypy2.7-5.10.0"
    env: TOXENV=pypy
  - python: "pypy3.5-5.10.1"
    env: TOXENV=pypy3

  # Also run the tests against cryptography master.
  - python: "2.7"
    env: TOXENV=py27-cryptographyMaster
  - python: "3.5"
    env: TOXENV=py35-cryptographyMaster
  - python: "3.6"
    env: TOXENV=py36-cryptographyMaster
  - python: "3.7"
    env: TOXENV=py37-cryptographyMaster
  - python: "3.8"
    env: TOXENV=py38-cryptographyMaster
  - python: "pypy2.7-5.10.0"
    env: TOXENV=pypy-cryptographyMaster
  - python: "pypy3.5-5.10.1"
    env: TOXENV=pypy3-cryptographyMaster

  # And current minimum cryptography version.
  - python: "2.7"
    env: TOXENV=py27-cryptographyMinimum
  - python: "3.5"
    env: TOXENV=py35-cryptographyMinimum
  - python: "3.6"
    env: TOXENV=py36-cryptographyMinimum
  - python: "3.7"
    env: TOXENV=py37-cryptographyMinimum
  - python: "3.8"
    env: TOXENV=py38-cryptographyMinimum
  - python: "pypy2.7-5.10.0"
    env: TOXENV=pypy-cryptographyMinimum
  - python: "pypy3.5-5.10.1"
    env: TOXENV=pypy3-cryptographyMinimum

  # Run tests in random order
  - python: "2.7"
    env: TOXENV=py27-randomorder
  - python: "3.7"
    env: TOXENV=py37-randomorder

  # Make sure we don't break Twisted or urllib3
  - python: "3.7"
    env: TOXENV=py37-twistedMaster
  - python: "3.5"
    env: TOXENV=py35-urllib3Master


  # Meta
  - python: "2.7"
    env: TOXENV=check-manifest

  - python: "2.7"
    env: TOXENV=pypi-readme

  - python: "2.7"
    env: TOXENV=flake8

  - python: "2.7"
    env: TOXENV=docs

  # Let the cryptography master builds fail because they might be caused by
  # cryptography changes that are beyond our control.
  allow_failures:
  - env: TOXENV=py27-cryptographyMaster
  - env: TOXENV=py35-cryptographyMaster
  - env: TOXENV=py36-cryptographyMaster
  - env: TOXENV=py37-cryptographyMaster
  - env: TOXENV=py38-cryptographyMaster
  - env: TOXENV=pypy-cryptographyMaster
  - env: TOXENV=pypy3-cryptographyMaster


install:
  - |
    if [[ "$(uname -s)" == 'Darwin' ]]; then
      brew update
      brew upgrade openssl@1.1
      curl -O https://bootstrap.pypa.io/get-pip.py
      python get-pip.py --user
      python -m pip install --user virtualenv
    else
      pip install virtualenv
    fi
    python -m virtualenv ~/.venv
    ~/.venv/bin/pip install tox coverage

script:
  - |
    if [[ "$(uname -s)" == 'Darwin' ]]; then
      # set our flags to use homebrew openssl
      export LDFLAGS="-L/usr/local/opt/openssl@1.1/lib"
      export CFLAGS="-I/usr/local/opt/openssl@1.1/include"
      export PATH="/usr/local/opt/openssl@1.1/bin:$PATH"
    fi
    openssl version
    ~/.venv/bin/tox -v

after_script:
  - ./.travis/upload_coverage.sh

notifications:
  email: false
