include             LICENSE ChangeLog MANIFEST.in *.rst tox.ini memdbg.py runtests.py OpenSSL/test/README docs-requirements.txt
exclude             leakcheck
recursive-include   doc         *
recursive-include   examples    *
recursive-include   rpm         *
recursive-exclude   leakcheck   *.py *.pem
prune               doc/_build
prune               .travis
