include             LICENSE MANIFEST.in *.rst tox.ini docs-requirements.txt .coveragerc
exclude             leakcheck
recursive-include   tests       *.py
recursive-include   doc         *
recursive-include   examples    *
recursive-include   rpm         *
recursive-exclude   leakcheck   *.py *.pem
prune               doc/_build
prune               .travis
prune               .mention-bot
