name: CI
on:
  pull_request: {}
  push: {}

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON:
          # Base builds
          - {VERSION: "2.7", TOXENV: "py27"}
          - {VERSION: "3.6", TOXENV: "py36,py36-mypy"}
          - {VERSION: "3.7", TOXENV: "py37,py37-mypy"}
          - {VERSION: "3.8", TOXENV: "py38,py38-mypy"}
          - {VERSION: "3.9", TOXENV: "py39,py39-mypy"}
          - {VERSION: "pypy2", TOXENV: "pypy"}
          - {VERSION: "pypy3", TOXENV: "pypy3"}
          # -cryptographyMaster
          - {VERSION: "3.6", TOXENV: "py36-cryptographyMaster"}
          - {VERSION: "3.7", TOXENV: "py37-cryptographyMaster"}
          - {VERSION: "3.8", TOXENV: "py38-cryptographyMaster"}
          - {VERSION: "3.9", TOXENV: "py39-cryptographyMaster"}
          - {VERSION: "pypy3", TOXENV: "pypy3-cryptographyMaster"}
          # -cryptographyMinimum
          - {VERSION: "2.7", TOXENV: "py27-cryptographyMinimum"}
          - {VERSION: "3.6", TOXENV: "py36-cryptographyMinimum"}
          - {VERSION: "3.7", TOXENV: "py37-cryptographyMinimum"}
          - {VERSION: "3.8", TOXENV: "py38-cryptographyMinimum"}
          - {VERSION: "3.9", TOXENV: "py39-cryptographyMinimum"}
          - {VERSION: "pypy2", TOXENV: "pypy-cryptographyMinimum"}
          - {VERSION: "pypy3", TOXENV: "pypy3-cryptographyMinimum"}
          # Random order
          - {VERSION: "2.7", TOXENV: "py27-randomorder"}
          - {VERSION: "3.9", TOXENV: "py39-randomorder"}
          # Downstreams
          - {VERSION: "3.7", TOXENV: "py37-twistedMaster"}
          # Meta
          - {VERSION: "2.7", TOXENV: "check-manifest"}
          - {VERSION: "2.7", TOXENV: "pypi-readme"}
          - {VERSION: "3.9", TOXENV: "flake8"}
          - {VERSION: "2.7", TOXENV: "docs"}
    name: "${{ matrix.PYTHON.TOXENV }}"
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Setup python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ matrix.PYTHON.VERSION }}
      - run: python -m pip install tox coverage
      - run: tox -v
        env:
          TOXENV: ${{ matrix.PYTHON.TOXENV }}
      - name: Upload coverage
        run: |
          curl -o codecov.sh -f https://codecov.io/bash || curl -o codecov.sh -f https://codecov.io/bash || curl -o codecov.sh -f https://codecov.io/bash
          bash codecov.sh -n "tox -e ${{ matrix.PYTHON.TOXENV }}"

  linux-docker:
    runs-on: ubuntu-latest
    container: ghcr.io/pyca/cryptography-runner-${{ matrix.TEST.CONTAINER }}
    strategy:
      matrix:
        TEST:
          - {CONTAINER: "stretch", TOXENV: "py27"}
          - {CONTAINER: "ubuntu-bionic", TOXENV: "py36"}
          # cryptographyMaster used since there's no wheel
          - {CONTAINER: "ubuntu-rolling", TOXENV: "py39-cryptographyMaster"}
    name: "${{ matrix.TEST.TOXENV }} on ${{ matrix.TEST.CONTAINER }}"
    steps:
      - uses: actions/checkout@v2.3.4
      - run: tox -v
        env:
          TOXENV: ${{ matrix.TEST.TOXENV }}
          RUSTUP_HOME: /root/.rustup
      - name: Upload coverage
        run: |
          curl -o codecov.sh -f https://codecov.io/bash || curl -o codecov.sh -f https://codecov.io/bash || curl -o codecov.sh -f https://codecov.io/bash
          bash codecov.sh -n "tox -e ${{ matrix.TEST.TOXENV }} on ${{ matrix.TEST.CONTAINER }}"
